.search_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 36px;
  background-color: var(--el-background);
  border: 1px solid #eaebed;
  border-radius: 8px;
  height: 48px;
  position: relative;

  &::before {
    content: url('../../assets/img/Search.svg');
    position: relative;
    left: 13px;
    top: 50%;
    transform: translateY(-40%);
    position: absolute;
  }

  &:focus-within {
    border-color: var(--accent-color);
  }
}
.search_input {
  width: 100%;
  background: transparent;
  border: none;
  font-size: 14px;
  line-height: 1.5;
  height: 100%;
  caret-color: var(--accent-color);

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #acadb9;
    font-size: 14px;
    line-height: 1.5;
  }
}
.search_input::-webkit-search-cancel-button {
  display: none;
}
.search_btn__box {
  padding: 8px 12px;
}

.search_btn {
  height: 32px;
}

@media only screen and (max-width: 420px) {
  .search_box {
    padding-left: 26px;

    &::before {
      left: 5px;
    }
  }
  .search_btn__box {
    padding: 5px;
  }
}
